/*@tailwind base;
@tailwind components;
@tailwind utilities;*/


/* Fond de la page en noir */

/* Arrière-plan noir et style global pour le texte */
body {
    background-color: #000000;
    color: #FFFFFF;
}

/* Style pour le titre de la plateforme */
.header h1 {
    margin-bottom: 20px;
    color: #FF00FF; /* Couleur du titre */
    font-size: 2rem;
    text-align: center;
}

/* Centrage des cartes en deux colonnes */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

@media (min-width: 1024px) {
    .content {
        flex-direction: row;
        justify-content: center;
        gap: 2rem; /* Espace entre les colonnes */
    }
}

/* Style des cartes */
.card {
    background-color: #2E0259; /* Couleur de fond pour les cartes */
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Animation au survol des cartes */
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

/* Style pour les liens */
.nav-link {
    color: #4B0082;
    font-weight: bold;
    text-decoration: underline;
}